.charge-card {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: center;
    padding: 20px 12px;
    background: #fafafa;
    border-radius: 4px;
    position: relative;
    border: 2px solid transparent;
    margin: 0 10px;

    .text-block {
        margin-bottom: 10px;
    }

    .btn-select {
        margin: 20px auto;
        width: 100px;
    }

    .sale {
        position: absolute;
        right: 12px;
        top: 12px;
        font-weight: 700;
        font-size: 13px;
        color: #06a800;
    }
}

.charge-card:hover {
    border: 2px solid #1c91ff;
}
