.yout-app-templates-preview {
    .template-channel-description {
        margin-bottom: 5px;
        display: -webkit-box !important;
        overflow: hidden;
        // margin-top: 8px;
        word-wrap: break-word;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 1.4;
        font-size: 13px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 36.4px;
    }
}
