.app-header {
    background: linear-gradient(225deg, #ffc63f, #fd3358 49%, #bc35d8);
    background-position: 100% 100%;
    background-repeat: no-repeat;

    .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        .app-name {
            flex: 1;
            color: #fff;
            font-weight: 500;
        }

        .logo {
            width: 50px;
            height: 50px;
            background-image: url('./youtube.svg');
            background-size: 50px;
        }

        .actions {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                background: rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: none;
                box-shadow: none;
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                padding: 4px 28px 5px;
                border: none;
                outline: none;
                border-radius: 3px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                cursor: pointer;
                -webkit-box-shadow: none;
                box-shadow: none;
                text-align: center;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                margin-left: 10px;
            }
        }
    }

    .Polaris-Page__Content {
        .header-tabs-block {
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            -webkit-box-shadow: inset 0 3px 0 0 #fff, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05),
                0 1px 3px 0 rgba(63, 63, 68, 0.15);
            box-shadow: inset 0 3px 0 0 #fff, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05),
                0 1px 3px 0 rgba(63, 63, 68, 0.15);

            .Polaris-Tabs__Tab:focus {
                box-shadow: none;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .header-logo {
            margin: 0 20px;

            .actions {
                display: none;
            }
        }

        .Polaris-Page__Content {
            .header-tabs-block {
                border-radius: 0;
            }
        }
    }
}

.app-header > .Polaris-Page > .Polaris-Page__Content {
    margin: 0;
}
