.widgets-management {
    padding-bottom: 40px;

    .widget-welcome {
        padding-top: 80px;
        padding-bottom: 120px;
        padding-left: 40px;
        padding-right: 40px;
        text-align: center;

        p {
            margin-bottom: 5px;
        }

        .Polaris-DisplayText--sizeExtraLarge {
            margin-bottom: 20px;
        }

        .action {
            margin-bottom: 20px;

            p {
                font-weight: 500;
            }
        }
    }

    .title,
    .subtitle {
        margin: 20px 0;
    }

    .table-block {
        width: 100%;
        overflow-x: scroll;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: #f1f4f7;
            color: #9eafc4;
            text-transform: uppercase;
            font-size: 0.8125em;

            th {
                text-align: left;
                font-weight: 500;
                padding: 15px 20px;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #efefef;

                td {
                    padding: 20px;
                }
            }

            tr:hover {
                background-color: #fafafa;
            }
        }
    }

    .widget-name,
    .widget-status {
        font-weight: 500;
    }
}
