.yout-app-templates {
    .template-channel-name {
        font-weight: 500;
        margin-bottom: 5px;
        display: -webkit-box !important;
        overflow: hidden;
        // margin-top: 8px;
        word-wrap: break-word;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        line-height: 1.4;
        // font-size: 13px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        height: 28px;

        a {
            font-size: 20px;
            text-decoration: none;
            color: #171717;
        }
    }

    .template-channel-name:hover {
        a {
            text-decoration: underline;
        }
    }
}
